<a href="https://colab.research.google.com/github/chennurishirisha/ml_algo/blob/main/CreditFradDetection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [22]:
credit_df = pd.read_csv('/content/creditcard.csv')

In [23]:
credit_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [24]:
credit_df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
194189,130473.0,-2.020698,1.776253,-1.065479,-2.769201,-0.064483,-0.870269,-0.005058,1.350026,0.012971,...,-0.247153,-1.029805,-0.064710,-1.083659,0.132321,0.436510,0.046391,0.073014,1.00,0.0
194190,130473.0,2.043725,-0.099641,-1.174763,0.223753,0.079134,-0.704267,0.080115,-0.172561,0.289565,...,-0.258043,-0.637271,0.287931,-0.333452,-0.282316,0.198073,-0.074182,-0.073311,0.89,0.0
194191,130474.0,1.842498,-0.752856,1.137319,2.390623,-1.447940,0.953968,-1.573333,0.401153,1.289612,...,0.004503,0.454859,0.258029,0.038701,-0.774425,2.331048,-0.083683,-0.050854,21.71,0.0
194192,130474.0,2.168959,-1.157163,-1.043238,-1.217888,-0.472766,0.536149,-1.216259,0.217502,0.057792,...,0.304777,0.838372,0.036949,-0.342829,-0.071414,-0.070816,-0.004231,-0.061583,24.99,0.0
194193,130474.0,-0.301503,0.604028,-0.067684,-0.450046,0.662453,-0.282373,0.964187,-0.131715,-0.258089,...,-0.031390,-0.084385,0.154369,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
credit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194194 entries, 0 to 194193
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    194194 non-null  float64
 1   V1      194194 non-null  float64
 2   V2      194194 non-null  float64
 3   V3      194194 non-null  float64
 4   V4      194194 non-null  float64
 5   V5      194194 non-null  float64
 6   V6      194194 non-null  float64
 7   V7      194194 non-null  float64
 8   V8      194194 non-null  float64
 9   V9      194194 non-null  float64
 10  V10     194194 non-null  float64
 11  V11     194194 non-null  float64
 12  V12     194194 non-null  float64
 13  V13     194194 non-null  float64
 14  V14     194194 non-null  float64
 15  V15     194194 non-null  float64
 16  V16     194194 non-null  float64
 17  V17     194194 non-null  float64
 18  V18     194194 non-null  float64
 19  V19     194194 non-null  float64
 20  V20     194194 non-null  float64
 21  V21     194194 non-null  float64
 22  V22     194194 non-null  float64
 23  V23     194194 non-null  float64
 24  V24     194193 non-null  float64
 25  V25     194193 non-null  float64
 26  V26     194193 non-null  float64
 27  V27     194193 non-null  float64
 28  V28     194193 non-null  float64
 29  Amount  194193 non-null  float64
 30  Class   194193 non-null  float64
dtypes: float64(31)
memory usage: 45.9 MB

In [28]:
credit_df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [29]:
# distribution of legit transaction & fraudulent transations
credit_df['Class'].value_counts()

0.0    193812
1.0       381
Name: Class, dtype: int64

this dataset is highly unbalenced dataset
0...>normal Trasaction
1...>fraudulent transaction

In [30]:
#separating the data for analysis
legit = credit_df[credit_df.Class ==0]
fraud = credit_df[credit_df.Class ==1]

In [31]:

print(legit.shape)
print(fraud.shape)

(193812, 31)
(381, 31)

In [32]:
#statistical measures of the data
legit.Amount.describe()

count    193812.000000
mean         89.425440
std         248.512542
min           0.000000
25%           5.990000
50%          22.900000
75%          79.000000
max       19656.530000
Name: Amount, dtype: float64

In [33]:
fraud.Amount.describe()

count     381.000000
mean      116.421155
std       247.034583
min         0.000000
25%         1.000000
50%        11.400000
75%       104.030000
max      2125.870000
Name: Amount, dtype: float64

In [34]:
#compare the values for both transactions
credit_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,68829.705849,-0.104350,-0.000903,0.365061,0.074709,-0.114775,0.051884,-0.043405,0.018985,0.015904,...,0.020889,-0.018183,-0.053682,-0.017107,0.005055,0.065969,0.007215,0.000952,0.002047,89.425440
1.0,60541.997375,-5.755911,4.243874,-7.768470,4.780104,-4.143295,-1.408967,-6.702717,0.703757,-2.780511,...,0.382486,0.798233,-0.021515,-0.038763,-0.066856,0.074069,0.041146,0.177640,0.056083,116.421155

under-sampling

In [35]:
#dealing of unbalencing data
#Build a sample dataset containing similar distribution normal transaactions and fraudulent transations
# number of Frraudulent Transactions..>381
legit_sample = legit.sample(n = 381)

concatenating two dataaframes

In [37]:
new_df = pd.concat([legit_sample,fraud],axis = 0)# concat by row wise

In [40]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
9330,13515.0,1.223788,0.012901,0.874744,0.319244,-0.806493,-0.870352,-0.354155,-0.202414,1.682257,...,-0.332747,-0.777476,0.149688,0.367724,-0.024413,0.747671,-0.093793,0.012013,26.56,0.0
56437,47426.0,0.800442,-1.252205,1.094588,0.623545,-1.865902,-0.370191,-0.686096,0.163629,1.785389,...,0.063924,0.022568,-0.180673,0.779669,0.172669,1.164444,-0.075599,0.041924,202.00,0.0
82003,59200.0,-1.937216,-1.090807,2.829094,0.016414,0.942303,-1.111521,-1.020935,0.442021,0.396492,...,0.306674,0.475138,0.006875,0.420002,0.257028,0.502039,-0.022188,0.093393,0.10,0.0
109644,71472.0,-1.498785,-0.179831,2.064451,-0.781757,-0.853080,-0.457872,-0.473030,0.806431,0.434703,...,0.004831,-0.325278,0.038580,0.549890,-0.232412,0.752279,-0.123714,-0.063986,50.94,0.0
23661,32856.0,-0.427956,0.139273,0.271464,0.264618,2.067942,4.329715,-0.097858,1.083976,0.083300,...,0.017318,0.078298,0.007764,1.020045,-0.062500,-0.280870,0.187867,0.170118,87.00,0.0

In [42]:
new_df['Class'].value_counts()

0.0    381
1.0    381
Name: Class, dtype: int64

In [43]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,69305.572178,-0.040008,0.021161,0.339657,0.079753,-0.007470,0.078454,-0.061635,0.038523,-0.010866,...,0.010543,-0.033274,-0.051324,-0.026884,-0.015854,0.055428,-0.000205,0.018868,0.007573,71.695696
1.0,60541.997375,-5.755911,4.243874,-7.768470,4.780104,-4.143295,-1.408967,-6.702717,0.703757,-2.780511,...,0.382486,0.798233,-0.021515,-0.038763,-0.066856,0.074069,0.041146,0.177640,0.056083,116.421155

In [50]:
new_df.shape

(762, 31)

splitting the data into Features &targets

In [45]:
x = new_df.drop(columns = 'Class',axis = 1)
y = new_df['Class']

In [46]:
print(x)

            Time        V1        V2        V3        V4        V5        V6  \
9330     13515.0  1.223788  0.012901  0.874744  0.319244 -0.806493 -0.870352
56437    47426.0  0.800442 -1.252205  1.094588  0.623545 -1.865902 -0.370191
82003    59200.0 -1.937216 -1.090807  2.829094  0.016414  0.942303 -1.111521
109644   71472.0 -1.498785 -0.179831  2.064451 -0.781757 -0.853080 -0.457872
23661    32856.0 -0.427956  0.139273  0.271464  0.264618  2.067942  4.329715
...          ...       ...       ...       ...       ...       ...       ...
191690  129371.0  1.183931  3.057250 -6.161997  5.543972  1.617041 -1.848006
192382  129668.0  0.753356  2.284988 -5.164492  3.831112 -0.073622 -1.316596
192529  129741.0 -1.396204  2.618584 -6.036770  3.552454  1.030091 -2.950358
192584  129764.0 -2.434004  3.225947 -6.596282  3.593161 -1.079452 -1.739741
192687  129808.0  1.522080 -0.519429 -2.581685  0.774741  0.206722 -1.431020

              V7        V8        V9  ...       V20       V21       V22  \
9330   -0.354155 -0.202414  1.682257  ... -0.065831 -0.332747 -0.777476
56437  -0.686096  0.163629  1.785389  ...  0.146705  0.063924  0.022568
82003  -1.020935  0.442021  0.396492  ...  0.217654  0.306674  0.475138
109644 -0.473030  0.806431  0.434703  ... -0.071857  0.004831 -0.325278
23661  -0.097858  1.083976  0.083300  ...  0.286351  0.017318  0.078298
...          ...       ...       ...  ...       ...       ...       ...
191690 -1.005508  0.339937 -2.959806  ...  0.252571  0.109185 -0.931072
192382 -1.855495  0.831079 -1.567514  ...  0.285792  0.382007  0.033958
192529 -1.528506  0.189319 -1.433554  ...  0.031795  0.143177 -0.390176
192584 -0.047420  0.301424 -1.779434  ... -0.280533 -0.035491 -0.419178
192687  0.757011 -0.444418  0.997921  ...  0.361169  0.019649 -0.211678

             V23       V24       V25       V26       V27       V28  Amount
9330    0.149688  0.367724 -0.024413  0.747671 -0.093793  0.012013   26.56
56437  -0.180673  0.779669  0.172669  1.164444 -0.075599  0.041924  202.00
82003   0.006875  0.420002  0.257028  0.502039 -0.022188  0.093393    0.10
109644  0.038580  0.549890 -0.232412  0.752279 -0.123714 -0.063986   50.94
23661   0.007764  1.020045 -0.062500 -0.280870  0.187867  0.170118   87.00
...          ...       ...       ...       ...       ...       ...     ...
191690 -0.064175 -0.007013  0.345419  0.064558  0.476629  0.323740    0.00
192382  0.187697  0.358433 -0.488934 -0.258802  0.296145 -0.047174    2.00
192529  0.356029 -0.762352  0.096510 -0.487861  0.062655 -0.240732    1.00
192584  0.157436 -0.714849  0.468859 -0.348522  0.420036 -0.327643  362.55
192687 -0.247452 -0.279472  0.239646 -0.508398 -0.015551  0.041881  276.17

[762 rows x 30 columns]

In [47]:
print(y)

9330      0.0
56437     0.0
82003     0.0
109644    0.0
23661     0.0
         ...
191690    1.0
192382    1.0
192529    1.0
192584    1.0
192687    1.0
Name: Class, Length: 762, dtype: float64

In [48]:
#split the data into training and test
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.1, random_state = 2)

In [49]:
print(x.shape, x_train.shape,x_test.shape)

(762, 30) (685, 30) (77, 30)

Model Training
Logistic Regression

In [51]:
model = LogisticRegression()

In [52]:
# training the Logistic Regression with training data
model.fit(x_train,y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [56]:
#accuracy score
from sklearn.metrics import accuracy_score
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction,y_train)

In [57]:
print('accuracy onn traing data:',training_data_accuracy)

accuracy onn traing data: 0.9445255474452555

In [58]:
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction,y_test)

In [59]:
print('accuracy onn test data:',test_data_accuracy)

accuracy onn test data: 0.935064935064935